{
  "presets": [
    ["@babel/env", { "modules": false }]
  ],
  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread"
  ],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
