.github
.DS_Store
.babelrc
.editorconfig
.eslintrc.js
.eslintignore
.gitignore
.travis.yml

test/
test/unit/coverage
test/e2e/reports

gh-pages/
static/
build/
config/
node_modules
node_modules/
npm-debug.log
examples
examples/

index.html
config.js
bower.json
package-lock.json
selenium-debug.log
