name: Test
on:
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x]
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Dependencies
        uses: borales/actions-yarn@v2.0.0
        with:
          cmd: install

      - name: Lint
        uses: borales/actions-yarn@v2.0.0
        with:
          cmd: lint

      - name: Test
        uses: borales/actions-yarn@v2.0.0
        with:
          cmd: test

      - name: Buile test
        uses: borales/actions-yarn@v2.0.0
        with:
          cmd: build
